.header {
  box-sizing: border-box;
  background-color: #13171c;
  height: 114px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0 20px;
}

.header__logo {
  height: 90%;
  margin-left: -20px;
}

.header__menu {
  color: white;
  height: 80px;
}

.indice {
  background-color: #000000;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
}

.indice__cerrar {
  position: absolute;
  right: 35px;
  top: 20px;
}

.indice__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.indice__links__desktop {
  display: none;
}

.indice__link {
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-size: 52px;
  display: inline;
}

.header__menu:hover,
.indice__cerrar:hover {
  cursor: pointer;
}

.indice__link:hover {
  color: grey;
}

@media (min-width: 1000px) {
  .header__menu {
    display: none;
  }
  .indice__links__desktop {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .indice__link {
    font-size: 32px;
  }
}
