.send-button {
  background-color: #00adb5;
  font-family: "Poppins";
  font-weight: 700;
  width: 231px;
  height: 55px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
}

.button__send {
  width: 24px;
  height: 20px;
}

.send-button:hover {
  background-color: #008086;
  color: rgb(211, 211, 211);
  cursor: pointer;
}

.send-button:active {
  background-color: #00adb5;
}

@media (min-width: 1000px) {
  .button {
    width: 312px;
  }
}
